pom.xml
pom.xml.asc
settings.ini
.DS_Store
.nrepl-history
/public
/debugmyself
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
