body {
    line-height: 1.8;
}

h1, .h1 { font-size: 2rem; padding-bottom: 2rem; padding-top: 2rem}
h2, .h2 { font-size: 1.5rem; padding-bottom: 1.5rem; padding-top: 1.5rem}
h3, .h3 { font-size: 1.25rem; padding-bottom: 1.25rem; padding-top: 1.25rem}
h4, .h4 { font-size: 1rem; padding-bottom: 1rem; padding-top: 1rem}
h5, .h5 { font-size: 1rem; }
h6, .h6 { font-size: 1rem; }

.pl-5x, .px-5x {
    padding-left: 5rem!important;
}

.pr-5x, .px-5x {
    padding-right: 5rem!important;
}

.pb-5x, .py-5x {
    padding-bottom: 5rem!important;
}

.pt-5x, .py-5x {
    padding-top: 5rem!important;
}

.pagination a.page-link {
    border:none;
}

.post-title {
    text-align: center!important;
    padding-top: 3rem!important;
}


img {
    max-width: 100%;
}

.site-menu {
  left:auto;
  top:9rem;
  right:2rem;
  display: block;
}

.MathJax_SVG svg{
    font-size: 1.2em;
}

.MathJax_SVG_Display .MathJax_SVG svg{
    font-size: 2em;
}

blockquote {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
    background:#f7f7f9;
}

table {
    border: 1px solid #dee2e6;
    margin-bottom: 1rem;
}


table td, table th {
    padding: .75rem;
    vertical-align: top;
    border: 1px solid #dee2e6;
}

@media screen and (max-width:767px) {
h1, .h1 { font-size: 1.5rem; margin-bottom: 1.5rem}
h2, .h2 { font-size: 1.25rem; margin-bottom: 1.25rem}
h3, .h3 { font-size: 1.15rem; margin-bottom: 1.15rem}
h4, .h4 { font-size: 1rem; margin-bottom: 1rem}
h5, .h5 { font-size: 1rem; }
h6, .h6 { font-size: 1rem; }

    
#m-menu {
    background: #fff;
    flex-direction:unset!important;
}

.site-menu {
  left:auto;
  top:0rem;
  right:4rem;
}

.m-menu-toggle {
  left:auto;
}


    .spx-0 {
        padding-left: 15px!important;
        padding-right: 15px!important;
    }

    .post-title {
        text-align: left!important;
        padding-top: 2rem!important;
    }
}

