{% extends "base.html" %}
{% block page-content %}
        <div class="container bg-white pb-5 px-5x spx-0">

            <h1 class="text-center post-title">永远保持初学者的心</h1>
            {% for post in posts %}
            <p><a href="{{ post.url }}">{{ post.title }}</a></p>
            {% endfor %}


            <ul class="pagination mt-5 justify-content-center">
                <li class="page-item{% if 1 = current-page %} disabled{% endif %}">
                  <a class="page-link" href="/{{ posts-out-dir }}/list/{% if prev-page > 1 %}page/{{ prev-page }}/{% endif %}" tabindex="-1">Previous</a>
                </li>
                {% for page in page-numbers %}
                <li class="page-item{% if page = current-page %} active{% endif %}"><a class="page-link" href="/{{ posts-out-dir }}/list/{% if page > 1 %}page/{{ page }}/{% endif %}">{{ page }}</a></li>
                {% endfor %}
                <li class="page-item{% if total-page-count = current-page %} disabled{% endif %}">
                  <a class="page-link" href="/{{ posts-out-dir }}/list/page/{{ next-page }}/">Next</a>
                </li>
          </ul>

        </div>
{% endblock %}