{% include "head.html" %}
        <div class="container bg-white py-5x px-5x spx-0">

            <h1 class="text-center pb-4">互联网的世界里，我有一个大大的梦想</h1>
            {% for post in posts %}
            <p><a href="{{ post.url }}">{{ post.title }}</a></p>
            {% endfor %}


            <ul class="pagination mt-5 justify-content-center">
                <li class="page-item{% if 1 = current-page %} disabled{% endif %}">
                  <a class="page-link" href="/p/list/{% if prev-page > 1 %}page/{{ prev-page }}/{% endif %}" tabindex="-1">Previous</a>
                </li>
                {% for page in page-numbers %}
                <li class="page-item{% if page = current-page %} active{% endif %}"><a class="page-link" href="/p/list/{% if page > 1 %}page/{{ page }}/{% endif %}">{{ page }}</a></li>
                {% endfor %}
                <li class="page-item{% if total-page-count = current-page %} disabled{% endif %}">
                  <a class="page-link" href="/p/list/page/{{ next-page }}/">Next</a>
                </li>
          </ul>

        </div>
{% include "foot.html" %}