{% extends "base.html" %}
{% block page-content %}
        <div class="container bg-white pb-5 px-5 spx-0">
            
            <h1 class="post-title">{{title}}</h1>
{% if lead %}
            <p class="lead text-center">手头上永远要有一样产品，是天塌下来你也挣钱的</p>
{% endif %}
            {{ content|safe }}
            <p class="text-left text-muted">{% if authors %}{{ authors|join:" " }} {% endif %}{{ last_modified|date:"yyy-MM-dd HH:mm" }}</p>
        </div>
{% endblock %}
{% block footer %}
{% include "comment.html" %}
{% endblock %}